<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <th>
            <td>Código</td>
            <td>Nombre</td>
            <td>Direccion</td>
            <td>Teléfono</td>
            <td>Fecha Nacimiento</td>
            <td></td>
            <td></td>
        </th>
        <tbody>
        <tr th:each="u: ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.nombre}"></td>
            <td th:text="${u.direccion}"></td>
            <td th:text="${u.telefono}"></td>
            <td th:text="${u.fecha_nac}"></td>
            <td><a th:href="@{'/inicio/actualizar/' + ${u.id}}">Actualizar</a></td>
            <td><a th:href="@{'/inicio/eliminar/' + ${u.id}}">Eliminar</a></td>
        </tr>
        </tbody>

        <form method="post" th:action="@{/inicio}" th:object="${user}">
            <input th:field="*{nombre}" type="text" placeholder="Nombre">
            <input th:field="*{direccion}" type="text" placeholder="Direccion">
            <input th:field="*{telefono}" type="text" placeholder="Telefono">
            <input th:field="*{fecha_nac}" type="text" placeholder="Fecha Nacimiento">
            <button type="submit">Añadir</button>
        </form>
        <form method="post" th:action="@{/inicio/buscar}" th:object="${user}">
            <input th:field="*{nombre}" th:type="text">
            <a th:href="@{/inicio/buscar}"><button>Buscar</button></a>
        </form>


    </table>
</body>
</html>